<% if @view_in_config && @erb_code_field %>
  <%= render inline: ERB.new(@erb_code_field).result(binding) %>
  
<% else %>
<div class="fields">
	
  <%= f.input :item_name_autocomplete, :label => t("Item Name"), :input_html => { data: {autocomplete_source: SUBURI + base_materialx.autocomplete_parts_path}},:placeholder => t("Enter Part Name Keyword"), :required => true  %>
  <%#= f.input :item_id, :as => :hidden %> 
  <%= f.input :spec, :label => t('Item Spec'), :readonly => true %>
  <%#= f.input :stock_qty, :label => t("Qty In Stock"), :readonly => true %>
  <%= f.input :unit, :label => t("Unit"), :readonly => true%> 
  <%= f.input :qty, :label => t("Requisition Qty") %>
  <%#= f.input :brief_note, :label => t("Brief Note") %>
  
  
  <%= link_to_remove_fields t("Delete Item"), f %>
</div>

<% end %>
